/* Style sheet for Odin-Recipes html files*/
* {
    background-color: honeydew;
    font-family: "Arial Black", Arial, sans-serif;
}

h1 {
    text-align: center;
}

.recipe-title {
    font-style: italic;
    color: darkslategray;
}

/* List of elements to change:
>color
>background-color
>font-family
>font-size
>font-weight
>text-align
>height (img)
>width (img)
*/