/* Style sheet for Odin-Recipes html files*/
* {
    background-color: honeydew;
    font-family: "Arial Black", Arial, sans-serif;
}

h1 {
    text-align: center;
}

.recipe-title {
    font-style: italic;
    color: darkslategray;
}

img {
    height:auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
/*display and margins are from w3, not TOP */
}

.subtitle {
    font-size: large;
    font-weight: bold;
}